server:
  port: 6666
spring:
  application:
    name: service-car
  profiles:
    active: dev
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/java220212?characterEncoding=UTF-8&useSSL=false
    username: root
    password: root
  mvc:
    path match:
      matching-strategy: ant_path_matcher