server:
  port: 8002
spring:
  application:
    name: service_dict
  profiles:
    active: dev
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/yygh_dict?characterEncoding=UTF-8&useSSL=false
    username: root
    password: root
  mvc:
    path match:
      matching-strategy: ant_path_matcher